body{
  min-width: 500px;
  min-height: 300px;
  display: block;
}

label {
  font-size: 120%;
  font-weight: bold;
}

textarea {
  width: 450px;
  height: 150px;
}

#save-result {
    margin-left: 10px;
    color: #009900;
    font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #202023;
    color: #f9f9fa;
  }

  textarea, input[type=text] {
    background-color: #202023;
    color: #f9f9fa;
  }
}
